html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
  }

#nav {
    list-style: none;
    height: 60px;
    margin-top: 0px;
    padding-left: 50px;
    background-color: #000;
}

#nav li {
    float: left;
    padding-left: 80px;
}

#nav li a {
    display:block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: aliceblue;
}

#it_services{
    margin-top: -20px;
    padding-top: 5px;
    padding-left: 130px;
    height: 170px;
    background-color: #c6bfbf;
}

#middle_text ul{
    list-style: none;
    padding-left: 70px;
}

#middle_text ul li{
    float: left;
    width: 350px;
    padding-left: 50px;
}

#know_more {
    color: rgb(96, 126, 192);
}


#footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    padding-left: 0px;
    background-color: #0b4d14;
    width: 100%;
}

#footer ul{
    list-style: none;
}

#footer ul li{
    padding-left: 60px;
    float: left;
}


#footer ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

#channel {
    padding-left: 1000px;
}
